
        <%- include('header'); -%>
        <%- include('sidebar'); -%>

            <main id="main" class="main">

                <div class="pagetitle">
                  <div class="titleFilter">
                    <div class="panelTitle">
                      <h1>Account Settings</h1>
                      <!-- <div class="addDataModal">
                        <button type="button" id="addNewDriver">Add Driver <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="innerPageDataHelp">
                    <div class="accountSettingPge">
                        <div class="accountTabs accountSettingInside">
                            <div class="season_tabs">
    
                                <div class="season_tab">
                                    <input type="radio" id="tab-1" name="tab-group-1" checked>
                                    <label for="tab-1"><i class="fa fa-home text-center mr-1"></i> Account</label>
                                    
                                    <div class="season_content">
                                        <div class="addDriverData ">
                                            <div class="form_field">
                                                <label>First Name</label>
                                                <input type="text" placeholder="John" value="" name="fname">
                                            </div>
                                            <div class="form_field">
                                                <label>Last Name</label>
                                                <input type="text" placeholder="Doe" value="" name="lname">
                                            </div>
                                            <div class="form_field">
                                                <label>Email</label>
                                                <input type="text" placeholder="" value="johndoe@gmail.com" name="email">
                                            </div>
                                            <div class="form_field">
                                                <label>Phone Number</label>
                                                <input type="text" placeholder="" value="+1 894753749" name="email">
                                            </div>
                                            <div class="addDriverBtns">
                                                <button type="button" id="primaryBtn" class="btn">Update    </button>
                                                <button type="button" id="cancelBtn" class="btn">Cancel</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                 
                                <div class="season_tab">
                                    <input type="radio" id="tab-2" name="tab-group-1">
                                    <label for="tab-2"><i class="fa fa-key text-center mr-1"></i> Password</label>
                                    
                                    <div class="season_content">
                                        <div class="addDriverData ">
                                            <div class="form_field">
                                                <label>Old Passowrd</label>
                                                <input type="text" placeholder="" value="" name="psw">
                                            </div>
                                            <div class="form_field">
                                                <label>New password</label>
                                                <input type="text" placeholder="" value="" name="npsw">
                                            </div>
                                            <div class="form_field">
                                                <label>Confirm New password</label>
                                                <input type="text" placeholder="" value="" name="email">
                                            </div>
                                            <div class="addDriverBtns">
                                                <button type="button" id="primaryBtn" class="btn">Update    </button>
                                                <button type="button" id="cancelBtn" class="btn">Cancel</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
<!--                                  
                                   <div class="season_tab">
                                    <input type="radio" id="tab-4" name="tab-group-1">
                                    <label for="tab-4"><i class="fa fa-bell text-center mr-1"></i> Notofications</label>
                                  
                                    <div class="season_content">
                                        <h3>General Notifications</h3>
                                        <div class="genNotification">
                                            <div class="singleNote">
                                                <div class="noteText">
                                                    <p>Select recipient(s)</p>
                                                </div>
                                                <div class="noteLabel">

                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> -->
                                 
                             </div>
                        </div>
                    </div>
                    <!-- <div class="helpPage">
                        <h2>Help</h2>
                        <div class="helpArt">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        </div>
                    </div> -->
                </div>
            </main>

        <%- include('footer'); -%>

                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
                <script src="/public/assets/vendor/apexcharts/apexcharts.min.js"></script>
                <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="/public/assets/vendor/chart.js/chart.min.js"></script>
                <script src="/public/assets/vendor/echarts/echarts.min.js"></script>
                <script src="/public/assets/vendor/quill/quill.min.js"></script>
                <script src="/public/assets/vendor/simple-datatables/simple-datatables.js"></script>
                <script src="/public/assets/vendor/tinymce/tinymce.min.js"></script>
                <script src="/public/assets/vendor/php-email-form/validate.js"></script>
                <script src="/public/assets/js/main.js"></script>
    </body>
</html>