<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"></script>
	

</head>
<style>
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/*Background color*/
#grad1 {
    background-color: : #9C27B0;
    background-image: linear-gradient(120deg, #f9f9f9, #cbc088);
	height: 100vh;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    <!-- box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); -->
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}
div#grad1 .card h2 {
	color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
}
.form-card .fs-title {
    font-size: 19px !important;
    margin-bottom: 16px !important;
}
#msform input, #msform textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
    background: #BFB34F;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 8px 5px;
    margin: 5px 2px;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 14px;
    width: 102px;
    border-radius: 3px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #bfb34f;
}
form#msform fieldset {
    padding: 20px 20px;
    text-align: right;
	height: 287px;
}
.loginPrevbtn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    right: 0;
    background: #fff;
    margin: auto;
    padding: 5px 20px;
    box-shadow: 5px 2px 6px #bfb34f;
}
/*Previous Buttons*/
#msform .action-button-previous {
    background: #02a8da;
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 8px 5px;
    margin: 5px 2px;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 14px;
    width: 102px;
    border-radius: 3px;
}
#msform .detailCon .loginPrevbtn input {
    margin-bottom: 5px !important;
}
#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #02a8da;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    width: 47%;
    color: #9E9E9E;
}
select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    height: 537px;
    overflow-y: scroll;
	overflow-x:hidden;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
#grad1 .card p {
    margin-bottom: 0;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 100%;
    float: left;
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 27px;
    display: block;
    font-size: 12px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 14px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #BFB34F;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}
/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
.profileImg img {
    max-width: 100%;
    border-radius: 100px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.profileImg {
    padding: 1px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.profileImg label {
    position: absolute;
    top: 50%;
    font-size: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 99;
    white-space: nowrap;
	opacity:0;
}
.profileImg:hover{
	cursor:pointer;
}
.profileImg:hover label{
	opacity:1;
	cursor:pointer;
}
.profileImg input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    height: 100px;
    border-radius: 100px !important;
    border: 1px solid;
}
.profileImg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 100px;
    opacity: .6;
}
.profileData {
    width: calc(100% - 100px);
    padding-left: 15px;
}
.proileCon {
    display: flex;
}
.profileKYC button {
    background: #009dffc4;
    color: white;
    border: 0 none;
    padding: 2px 5px;
    margin: 5px 0px;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 11px;
    width: 51px;
    border-radius: 23px;
    margin-top: 7px;
}
.profileKYC {
    text-align: center;
}
#msform .detailCon input {
    margin-bottom: 17px !important;
}
.form-card .radio-group {
    display: flex;
	margin-bottom: 0;
}
.form-card .radio-group .radio img {
    max-width: 100px;
    margin-right: 7px;
    border-radius: 3px;
}
h5.thankYoumsg {
    color: #bfb34f;
}
#msform .form-card .radio-group input{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 2px;
    position: relative;
    top: 1px;
    width: auto;
}
.radioGrp {
    margin-right: 13px;
}
.radioGrp label {
    color: #000;
}
button.loginbtn {
    width: 100%;
    height: 37px;
    border-radius: 4px;
    border: 0;
    background: #02a8da;
    color: #fff;
    font-size: 16px;
    margin-bottom: 6px;
}
.saywah_logo img {
    width: 90px;
    margin-bottom: 20px;
}
.card::-webkit-scrollbar {
	width: 6px;
	background-color: #fff;
}
.card::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius:10px;
}
.card::-webkit-scrollbar-track {
	<!-- -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -->
	background-color: #fff;
}
.form-card .fs-title {
    font-size: 16px !important;
    margin-bottom: 16px !important;
    background-image: linear-gradient(120deg, #ffffff, #cbc08847);
    padding: 7px 0;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: .3px;
}
</style>
<body>
<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-4 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
				<div class="saywah_logo">
					<img src="logo.jpg">
				</div>
                <h2><strong>Sign Up Your User Account</strong></h2>
                <p>Fill all form field to go to next step</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Login</strong></li>
                                <li id="personal"><strong>Confirmation</strong></li>
                                <li id="payment"><strong>KYC</strong></li>
                                <li id="confirm"><strong>Payments</strong></li>
								                <li id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Personal Detail:-</h2>
                                    <input type="email" name="email" placeholder="Email Id"/>
                                    <input type="password" name="pwd" placeholder="Password"/>
									<div class="loginBtn">
										<button class="loginbtn warning"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</button>
									</div>
                                </div>
								<div class="loginPrevbtn">
									<input type="button" name="next" class="next action-button" value="Next Step"/>
								</div>
                            </fieldset>
							<fieldset class="detailCon">
                                <div class="form-card">
									<h2 class="fs-title">Detail Confirmation:-</h2>
                                    <div class="proileCon">			
										<div class="profileKYC">
											<div class="profileImg">
											  <label class="-label" for="file">
												<i class="fa fa-camera" aria-hidden="true"></i>
												<span>Change Image</span>
											  </label>
											  <input id="file" type="file" onchange="loadFile(event)"/>
											  <img src="pImg.jpg" id="output" />
											</div>
											<button type="button">KYC</button>
										</div>
										<div class="profileData">
										<input type="email" name="email" id="confiremail" value=<%= id %> readonly />
										<input type="text" name="uname" value="Sudhir">
										<input type="text" name="phonenumber" value="9876543210">
										</div>
									</div>
                                </div>
								<div class="loginPrevbtn">
									<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
									<input type="button" name="next" class="next action-button" value="Next Step"/>
								</div>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">KYC:-</h2>
									<!-- <input type="text" name="fname" placeholder="First Name"/> -->
									<!-- <input type="text" name="lname" placeholder="Last Name"/> -->
									<!-- <input type="text" name="phno" placeholder="Contact No."/> -->
									<!-- <input type="text" name="phno_2" placeholder="Alternate Contact No."/> -->
                                </div>
								<div class="loginPrevbtn">
									<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
									<input type="button" name="next" class="next action-button" value="Next Step"/>
								</div>
                            </fieldset>
							<fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Payment Information:-</h2>
                                    <div class="radio-group">
                                        <!-- <div><img src="https://i.imgur.com/XzOzVHZ.jpg"></div> -->
                                        <!-- <div><img src="https://i.imgur.com/jXjwZlj.jpg"></div> -->
										<div class='radioGrp' data-value="credit">
											<input class='radio' data-value="credit" type="radio" id="test1" name="radio-group" checked>
											<label for="test1">Credit Card</label>
										</div>
										<div class='radioGrp' data-value="paypal">
											<input type="radio" id="test2" name="radio-group">
											<label for="test2">PayPal</label>
										</div>
                                        <br>
                                    </div>
                                    <label class="pay">Card Holder Name*</label>
                                    <input type="text" name="holdername" placeholder=""/>
                                    <div class="row">
                                        <div class="col-9">
                                            <label class="pay">Card Number*</label>
                                            <input type="text" name="cardno" placeholder=""/>
                                        </div>
                                        <div class="col-3">
                                            <label class="pay">CVC*</label>
                                            <input type="password" name="cvcpwd" placeholder="***"/>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-5">
                                            <label class="pay">Expiry Date*</label>
                                        </div>
                                        <div class="col-7">
                                            <select class="list-dt" id="month" name="expmonth">
                                                <option selected>Month</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                            <select class="list-dt" id="year" name="expyear">
                                                <option selected>Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
								<div class="loginPrevbtn">
									<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
									<input type="button" name="make_payment" class="next action-button" value="Confirm"/>
								</div>
                            </fieldset>                          
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <img src="check.png" class="fit-image">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-12 text-center">
                                            <h5 class="thankYoumsg">You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){

let user=localStorage.getItem('user');
var current_fs, next_fs, previous_fs; //fieldsets
var opacity;

$('#confiremail').val(function(index,currentvalue){
  console.log("email value------",index,currentvalue);
  if(currentvalue){
    current_fs = $(this).closest('.loginPrevbtn').parent();
    next_fs = $(this).closest('.loginPrevbtn').parent().next();
    //Add Class Active
    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
    
    //show the next fieldset
    next_fs.show(); 
    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
        step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({
                'display': 'none',
                'position': 'relative'
            });
            next_fs.css({'opacity': opacity});
        }, 
        duration: 600
    });
  }
})

$(".next").click(function(){
    current_fs = $(this).closest('.loginPrevbtn').parent();
    next_fs = $(this).closest('.loginPrevbtn').parent().next();
    console.log('current_fs',current_fs);
    console.log("next_fs-------",next_fs)
    //Add Class Active
    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
    
    //show the next fieldset
    next_fs.show(); 
    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
        step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({
                'display': 'none',
                'position': 'relative'
            });
            next_fs.css({'opacity': opacity});
        }, 
        duration: 600
    });
});

$(".previous").click(function(){
    
    current_fs = $(this).closest('.loginPrevbtn').parent();
    previous_fs = $(this).closest('.loginPrevbtn').parent().prev();
    
    //Remove class active
    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
    
    //show the previous fieldset
    previous_fs.show();

    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
        step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;

            current_fs.css({ 
                'display': 'none',
                'position': 'relative'
            });
            previous_fs.css({'opacity': opacity});
        }, 
        duration: 600
    });
});

$('.radio-group .radio').click(function(){
    $(this).parent().find('.radio').removeClass('selected');
    $(this).addClass('selected');
});

$(".submit").click(function(){
    return false;
})
    
});

var loadFile = function (event) {
  var image = document.getElementById("output");
  image.src = URL.createObjectURL(event.target.files[0]);
};

</script>
</body>
</html>