
        <%- include('header'); -%>
        <%- include('sidebar'); -%>

            <main id="main" class="main">

                <div class="pagetitle">
                  <div class="titleFilter">
                    <div class="panelTitle">
                      <h1>Retailers & Shippers</h1>                     
                    </div>
                    <div class="tableFilter">
                      <div class="filterTabs">
                        <div class="tableSearchBar">
                          <input type="search" placeholder="Search.." value="">
                        </div>
                        <div class="filIcon btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filter">
                          <i class="bi bi-filter"></i>
                        </div>  
                        <div class="addDataModal">
                          <button type="button" id="addNewDriver"><a href="/admin/addretailers">Add Retailers & Shippers <i class="fa fa-plus" aria-hidden="true"></i></a>
                          </button>
                        </div>                     
                      </div>
                    </div>
                  </div>
                  <div class="filterBlock" style="display: none;">
                    <div class="filterRow">
                        <div class="filterSingle filterRole">
                          <select name="role">
                            <option value="" disabled selected>Role</option>
                            <option value="">ALL</option>
                            <option value="">DRIVER</option>
                            <option value="">MANAGER</option>
                          </select>
                        </div>
                        <div class="filterSingle statusRole">
                          <select name="role">
                            <option value="" disabled selected>Status</option>
                            <option value="">ALL</option>
                            <option value="">ACTIVE</option>
                            <option value="">SIGNED IN</option>
                          </select>
                        </div>
                        <div class="filterSingle routesRole">
                          <select name="role">
                            <option value="" disabled selected>Route</option>
                            <option value="">ALL</option>
                          </select>
                        </div>
                        <div class="filterSingle warehouseRole">
                          <select name="role">
                            <option value="" disabled selected>Warehouse</option>
                            <option value="">ALL</option>
                            <option value="">SDC1-Newyork</option>
                          </select>
                        </div>
                        <div class="filterSingle managerRole">
                          <select name="role">
                            <option value="" disabled selected>Manager</option>
                            <option value="">ALL</option>
                            <option value="">SayWah</option>
                          </select>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="innerPageData">
                  <table id="tableDriver" class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><input type="checkbox" id="selectOne" name="selectRow" value=""></td>
                            <td><a href="/admin/viewretailers">
                              <div class="driverPDeatil">
                                <div class="driverImg">
                                  <img src="/public/assets/img/profile-img.jpg">
                                </div>
                                <div class="driverName">Amazon<span>ratheeamit78@gmail.com</span></div>
                              </div></a>
                            </td>
                            <!-- <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778 <div class="emailAd"><i class="bi bi-envelope"></i> ratheeamit78@gmail.com</div></td> -->
                            <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778</td>
                            <td><i class="bi bi-stickies"></i> 61d00f12-955</td>
                            <td class="driverStatus"><span>Active</span></td>
                            <td class="formAction">
                              <div class="actionBtn">
                                <ul>
                                  <li class="editList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><a href="javascript:void(0)"><i class="bi bi-pencil-square"></i></a></li>
                                  <li class="viewList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"><a href="javascript:void(0)"><i class="bi bi-eye-fill"></i></a></li>
                                  <li class="delList"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><a href="javascript:void(0)"><i class="bi bi-trash3-fill"></i></a></li>
                                </ul>
                              </div>
                            </td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" id="selectOne" name="selectRow" value=""></td>
                          <td><a href="/admin/viewretailers">
                            <div class="driverPDeatil">
                              <div class="driverImg">
                                <img src="/public/assets/img/profile-img.jpg">
                              </div>
                              <div class="driverName">Royal Mail<span>sk78@gmail.com</span></div>
                            </div></a>
                          </td>
                          <!-- <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778 <div class="emailAd"><i class="bi bi-envelope"></i> ratheeamit78@gmail.com</div></td> -->
                          <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778</td>
                          <td><i class="bi bi-stickies"></i> 61d00f12-955</td>
                          <td class="driverStatus"><span>Active</span></td>
                          <td class="formAction">
                            <div class="actionBtn">
                              <ul>
                                <li class="editList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><a href="javascript:void(0)"><i class="bi bi-pencil-square"></i></a></li>
                                <li class="viewList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"><a href="javascript:void(0)"><i class="bi bi-eye-fill"></i></a></li>
                                <li class="delList"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><a href="javascript:void(0)"><i class="bi bi-trash3-fill"></i></a></li>
                              </ul>
                            </div>
                          </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="selectOne" name="selectRow" value=""></td>
                        <td><a href="/admin/viewretailers">
                          <div class="driverPDeatil">
                            <div class="driverImg">
                              <img src="/public/assets/img/profile-img.jpg">
                            </div>
                            <div class="driverName">ZTO Express<span>Gj78@gmail.com</span></div>
                          </div></a>
                        </td>
                        <!-- <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778 <div class="emailAd"><i class="bi bi-envelope"></i> ratheeamit78@gmail.com</div></td> -->
                        <td class="personalDetail"><i class="bi bi-telephone"></i> 9728747509</td>
                        <td><i class="bi bi-stickies"></i> 61d00f12-955</td>
                        <td class="driverStatus"><span>Active</span></td>
                        <td class="formAction">
                          <div class="actionBtn">
                            <ul>
                              <li class="editList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><a href="javascript:void(0)"><i class="bi bi-pencil-square"></i></a></li>
                              <li class="viewList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"><a href="javascript:void(0)"><i class="bi bi-eye-fill"></i></a></li>
                              <li class="delList"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><a href="javascript:void(0)"><i class="bi bi-trash3-fill"></i></a></li>
                            </ul>
                          </div>
                        </td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" id="selectOne" name="selectRow" value=""></td>
                      <td><a href="/admin/viewretailers">
                        <div class="driverPDeatil">
                          <div class="driverImg">
                            <img src="/public/assets/img/profile-img.jpg">
                          </div>
                          <div class="driverName">Fedex<span>admind78@gmail.com</span></div>
                        </div></a>
                      </td>
                      <!-- <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778 <div class="emailAd"><i class="bi bi-envelope"></i> ratheeamit78@gmail.com</div></td> -->
                      <td class="personalDetail"><i class="bi bi-telephone"></i> 9725687778</td>
                      <td><i class="bi bi-stickies"></i> 61d00f12-955</td>
                      <td class="driverStatus"><span>Active</span></td>
                      <td class="formAction">
                        <div class="actionBtn">
                          <ul>
                            <li class="editList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><a href="javascript:void(0)"><i class="bi bi-pencil-square"></i></a></li>
                            <li class="viewList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"><a href="javascript:void(0)"><i class="bi bi-eye-fill"></i></a></li>
                            <li class="delList"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><a href="javascript:void(0)"><i class="bi bi-trash3-fill"></i></a></li>
                          </ul>
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="selectOne" name="selectRow" value=""></td>
                    <td><a href="/admin/viewretailers">
                      <div class="driverPDeatil">
                        <div class="driverImg">
                          <img src="/public/assets/img/profile-img.jpg">
                        </div>
                        <div class="driverName">Royal Mail<span>john@gmail.com</span></div>
                      </div></a>
                    </td>
                    <!-- <td class="personalDetail"><i class="bi bi-telephone"></i> 9728787778 <div class="emailAd"><i class="bi bi-envelope"></i> ratheeamit78@gmail.com</div></td> -->
                    <td class="personalDetail"><i class="bi bi-telephone"></i> 9586987778</td>
                    <td><i class="bi bi-stickies"></i> 61d00f12-955</td>
                    <td class="driverStatus"><span>Active</span></td>
                    <td class="formAction">
                      <div class="actionBtn">
                        <ul>
                          <li class="editList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><a href="javascript:void(0)"><i class="bi bi-pencil-square"></i></a></li>
                          <li class="viewList" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"><a href="javascript:void(0)"><i class="bi bi-eye-fill"></i></a></li>
                          <li class="delList"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><a href="javascript:void(0)"><i class="bi bi-trash3-fill"></i></a></li>
                        </ul>
                      </div>
                    </td>
                </tr>                
                        <tr>
                    </tfoot>
                </table>
                </div>
            </main>

        <%- include('footer'); -%>

                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
                <script src="/public/assets/vendor/apexcharts/apexcharts.min.js"></script>
                <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="/public/assets/vendor/chart.js/chart.min.js"></script>
                <script src="/public/assets/vendor/echarts/echarts.min.js"></script>
                <script src="/public/assets/vendor/quill/quill.min.js"></script>
                <script src="/public/assets/vendor/simple-datatables/simple-datatables.js"></script>
                <script src="/public/assets/vendor/tinymce/tinymce.min.js"></script>
                <script src="/public/assets/vendor/php-email-form/validate.js"></script>
                <script src="/public/assets/js/main.js"></script>
    </body>
</html>