<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SayWah</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/public/assets/img/logoBG.png" rel="icon">
    <link href="/public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/public/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/public/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/public/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>    

    <!-- Template Main CSS File -->
    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/main.css" rel="stylesheet">



</head>
<body id="staffDashboard">

    <%- include('header'); -%>
        <%- include('sidebar'); -%>


            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Dashboard</h1>
                    <!-- <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </nav> -->
                </div><!-- End Page Title -->

                <div class="dashboard_inner">
                    <div class="db_dataCard">
                        <div class="dataCard d_routes">
                            <div class="db_cardIcon">
                                <i class="bi bi-clipboard2-check-fill"></i>
                            </div>
                            <div class="db_dataText">
                                <h4>40</h4>
                                <h3>Total Routes</h3>
                               <p class="lastUp"><i class="bi bi-calendar-check"></i> Last Updated: 12/5/2022 22:0</p>
                            </div>
                        </div>
                        <div class="dataCard d_stops">
                            <div class="db_cardIcon">
                                <i class="bi bi-truck"></i>
                            </div>
                            <div class="db_dataText">
                                <h4>42/1710</h4>
                                <h3>Delivery Stops</h3>
                                <p class="lastUp"><i class="bi bi-calendar-check"></i> Last Updated: 12/5/2022 22:0</p>
                                
                            </div>
                        </div>
                        <div class="dataCard d_pickup">
                            <div class="db_cardIcon">
                                <i class="bi bi-truck"></i>
                            </div>
                            <div class="db_dataText">
                                <h4>0/3</h4>
                                <h3>Pickup Stops</h3>
                                <p class="lastUp"><i class="bi bi-calendar-check"></i> Last Updated: 12/5/2022 22:0</p>
                               
                            </div>
                        </div>
                        <div class="dataCard d_packages">
                            <div class="db_cardIcon">
                                <i class="bi bi-box-fill"></i>
                            </div>
                            <div class="db_dataText">
                                <h4>1910</h4>
                                <h3>Total Packages</h3>
                                <p class="lastUp"><i class="bi bi-calendar-check"></i> Last Updated: 12/5/2022 22:0</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="threeInOneCharts">
                        <div class="singleCharts">
                            <div class="chartHead">
                                <p class="mb-0">Stops by Status <span><i class="bi bi-clock"></i> Updated: 11/17/2022 18:23</span></p>
                            </div>
                            <div class="outerArea">
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="db_chart_info">
                                <p><span>For active routes only</span></p>
                            </div>
                        </div>
                        <div class="singleCharts">
                            <div class="chartHead">
                                <p class="mb-0">Hourly Deliveries <span><i class="bi bi-clock"></i> Updated: 11/17/2022 18:23</span></p>
                            </div>
                            <div class="outerArea">
                                <canvas id="hourlyDel"></canvas>
                            </div>
                            <div class="db_chart_info">
                                <p><span>Includes both delivered and attempted</span></p>
                            </div>
                        </div>
                        <div class="singleCharts">
                            <div class="chartHead">
                                <p class="mb-0">Hourly Pickups <span><i class="bi bi-clock"></i> Updated: 11/17/2022 18:23</span></p>
                            </div>
                            <div class="outerArea">
                                <canvas id="hourlyPic"></canvas>
                            </div>
                            <div class="db_chart_info">
                                <p><span>Includes both successful and attempted</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </main><!-- End #main -->

            <%- include('footer'); -%>

                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                        class="bi bi-arrow-up-short"></i></a>

                <!-- Vendor JS Files -->
                <script src="/public/assets/vendor/apexcharts/apexcharts.min.js"></script>
                <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="/public/assets/vendor/chart.js/chart.min.js"></script>
                <script src="/public/assets/vendor/echarts/echarts.min.js"></script>
                <script src="/public/assets/vendor/quill/quill.min.js"></script>
                <script src="/public/assets/vendor/simple-datatables/simple-datatables.js"></script>
                <script src="/public/assets/vendor/tinymce/tinymce.min.js"></script>
                <script src="/public/assets/vendor/php-email-form/validate.js"></script>

                <!-- Template Main JS File -->
                <script src="/public/assets/js/main.js"></script>

</body>

</html>